.root{
    -fx-background-color: #FFFFFF;
}

.label{
    -fx-font-size: 40;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: center;
}

#titleLabel{
    -fx-font-size: 70;
}