.root{
	-fx-background-color : #DED2AE;
}
.formRect{
	-fx-border-radius : 10px;
	-fx-background-radius: 30px;
}

.textBox{
	-fx-border-color : darkSlateGray;
	-fx-border-radius : 7px;
	-fx-background-radius : 7px;
	-fx-border-width : 2px;
}

.textBox:focused {
    -fx-focus-color: #2ecc71;
    -fx-faint-focus-color: #2ecc7122;
}
.btn-round{
	-fx-background-color : darkSlateGray;
	-fx-text-fill : white;
    -fx-font-size: 18px; 
    -fx-font-weight: bold; 
    -fx-background-radius : 25px;
    -fx-font-family: "Verdana";
}
.btn-round:hover{
	-fx-cursor: hand;
	-fx-background-color : #24423F;
}

.hyperlink{
	-fx-underline : false;
	-fx-text-fill : darkSlateGray;
	-fx-font-size : 20px;
}
.hyperlink:hover{
	-fx-underline : true;
}
.hyperlink:focused{
	-fx-focus-color : transparent;
	-fx-faint-focus-color : transparent;
}
/* The container of the radio button */
.radioButtons {
    -fx-text-fill: beige;
    -fx-font-weight: bold;
}


.radioButtons .radio {
-fx-background-color: transparent;
    -fx-border-color: darkSlateGray;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.radioButtons:selected .radio .dot {
    -fx-background-color: darkSlateGray; 
    -fx-background-insets: 0;
}

.rfidLabel{
	-fx-background-color : #3C3C3C;
	-fx-background-radius : 20px;
	-fx-text-fill : #FFFFE0;
	}
.radioButtons:hover {
    -fx-cursor: hand;
}
.radioButtons .radio {
-fx-background-color: transparent;
    -fx-border-color:  #43AA8B;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.radioButtons:selected .radio .dot {
    -fx-background-color:  #43AA8B;
    -fx-background-insets: 0;
}

.radioButtons:hover {
    -fx-cursor: hand;
}
.roomTypesRadio > .radio{
	-fx-background-color : transparent;
	-fx-border-color : #43AA8B;
	-fx-border-radius : 10px;
	-fx-background-radius : 10px;
}

.roomTypesRadio:selected .radio .dot {
    -fx-background-color: #43AA8B;
    -fx-background-radius: 10px;
}
.roomTypesRadio:hover{
	-fx-cursor:hand;
}